<?xml version="1.0"?>
<model>
    <name>iCubGazeboV3_xsens</name>

    <version>1.0</version>
    <sdf version='1.6'>iCubGazeboV3_xsens.urdf</sdf>

    <author>
        <name>Paolo Maria Viceconte</name>
        <email>paolo.viceconte@iit.it</email>
    </author>

    <description>
        Model of the iCub3 humanoid robot, adapted for retargeting data collected using XSens.
    </description>
</model>
